.description {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: .1rem;
    display: block;
    width: 100%;
    color: #fff;
    background: rgba(1, 1, 1, 0.5);
}

.description .title {
    font-size: 20px;
    text-align: left;
}

.description .sub {
    color: #c6cccc;
    text-indent: 2em;
}