.description {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    display: block;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    color: #fff;
    background: rgba(1, 1, 1, 0.5);
    z-index: 1000;
}

.description .title {
    font-size: 1.2em;
    text-align: left;
    margin-top: -0.3em;
    font-family: 'FangSong', 'STFangsong', 'STSong', 'SimSun', 'serif';
    line-height: 1.5;
}

.description .sub {
    color: #c6cccc;
    text-indent: 2em;
    line-height: 1.2;
    font-family: 'FangSong', 'STFangsong', 'STSong', 'SimSun', 'serif';
}