# VS Code
*.code-workspace

# dependencies
**/node_modules

# testing
**/coverage

# build
**/dist
**/build

# env
**/.env.local
**/.env

# etc
.DS_Store
.idea
**/.turbo

# compiled
apps/chrome-extension/public/manifest.json
archives/commits.txt
archives/merge.js
extract_quote_funvm.js
.vscode/settings.json
archives/collect.sh
archives/merged_file.txt
extension/data_design.md
extension/data_design.png
extension/TODO_TMP.md
